body{
    margin: 0;
    padding: 0;
}
ul{
        list-style-type: none;
}

.datePickTest{
    height: 50px;
}

/* .md-default-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, 
.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, 
.md-default-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator, 
.md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background-color: green;
}  rgb(63,81,181) */